<%- include('./partials/header.ejs') %>

  <div class="blogs content">
    <h2><%= title %>: All Blogs</h2>
      <% if(blogs && blogs.length > 0) { %>
        <% blogs.forEach( (blog) => { %>
          <h3 class="title"><%= blog.title %></h3>
          <p class="snippet"><%= blog.snippet %></p>
        <% }); %>
      <% } else { %>
        <p>There are no blogs to display...</p>
      <% } %>
  </div>
  
  <section>
    <table border>
        <thead>
            <tr>
                <th>Title</th>
                <th>Snippet</th>
            </tr>
        </thead>
        <tbody>
          <% if(blogs.length > 0) { %>
          <% blogs.forEach(blog=> { %>
            <tr>
              <td>
                <%= blog.title %>
              </td>
              <td>
                <%= blog.snippet %>
              </td>
            </tr>
            <% }) %>
          <% } else { %>
            <tr><td colspan="2">No data found</td></tr>
          <% } %>

        </tbody>
    </table>
  </section>
<%- include('./partials/footer.ejs') %>