<article id="articles_table">
  <% if( articles ){ %>
    <p id="message"> </p>
    <table>
      <thead>
        <tr>
          <th class="first-column">Id
          <th>Code
          <th>Name
          <th>Description
      <tbody>
          <% if(articles.length > 0){ %>
            <% articles.forEach((article) => { %>
              <tr id="tr_<%= article.id %>">
                <td class="first-column"><%= article.id %>
                <td contenteditable="true"><%= article.code %>
                <td contenteditable="true"><%= article.name %>
                <td contenteditable="true"><%= article.description %> 
                <td><button onclick="deleteArt(this)" data-artid="<%= article.id %>">Delete</button></td>
                <td><button onclick="updateArt(this)" data-artid="<%= article.id %>">Update</button></td>
            <% }) %>
    </table>
  <% }} %>
</article>